<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Actualizar Canal</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="submit()" class="example-form">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>URL del Canal</mat-label>
        <input matInput formControlName="channelUrl" />
        <mat-error>
          @if (form.get('channelUrl')?.hasError('required')) { Ingrese la URL del canal }
          @else if (form.get('channelUrl')?.hasError('pattern')) { La URL debe iniciar con http:// o https:// }
          @else if (form.get('channelUrl')?.hasError('maxlength')) { La URL no puede superar 2048 caracteres }
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Seguidores Actuales</mat-label>
        <input matInput type="number" formControlName="currentFollowers" />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Plataforma</mat-label>
        <mat-select formControlName="platform">
          @for (item of listaPlatforms; track item.id) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
          }
        </mat-select>
        <mat-error>@if (form.get('platform')?.hasError('required')) { Seleccione una plataforma }</mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Streamer</mat-label>
        <mat-select formControlName="streamer">
          @for (item of listaStreamers; track item.id) {
            <mat-option [value]="item.id">{{ item.nickname }}</mat-option>
          }
        </mat-select>
      </mat-form-field><br/>
      <div><button matButton="elevated">Actualizar</button></div>
    </form>
  </div>
</div>
