<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Lista de Planes</h2></div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Monthly Price</th>
        <td mat-cell *matCellDef="let element">{{ element.monthlyPrice }}</td>
      </ng-container>
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>API Limit</th>
        <td mat-cell *matCellDef="let element">{{ element.apiLimit }}</td>
      </ng-container>
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['/plans/edit', element.id]"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
