<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Registrar Región</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>
          @if (form.get('name')?.hasError('required')) { Enter the name }
          @else if (form.get('name')?.hasError('minlength')) { Minimum 2 characters }
          @else if (form.get('name')?.hasError('maxlength')) { Maximum 100 characters }
        </mat-error>
      </mat-form-field><br/>
      <div><button matButton="elevated">Registrar</button></div>
    </form>
  </div>
</div>
