<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Registrar Marca</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="submit()" class="example-form">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
        <mat-error>
          @if (form.get('name')?.hasError('required')) { Ingrese el nombre }
          @else if (form.get('name')?.hasError('minlength')) { Mínimo 2 caracteres }
          @else if (form.get('name')?.hasError('maxlength')) { Máximo 100 caracteres }
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Sector</mat-label>
        <input matInput formControlName="sector" />
        <mat-error>
          @if (form.get('sector')?.hasError('required')) { Ingrese el sector }
          @else if (form.get('sector')?.hasError('minlength')) { Mínimo 2 caracteres }
          @else if (form.get('sector')?.hasError('maxlength')) { Máximo 100 caracteres }
        </mat-error>
      </mat-form-field><br/>
      <div><button matButton="elevated">Registrar</button></div>
    </form>
  </div>
</div>
