<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Actualizar Marca</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese el nombre }
          @else if (form.get('nombre')?.hasError('minlength')) { Mínimo 2 caracteres }
          @else if (form.get('nombre')?.hasError('maxlength')) { Máximo 100 caracteres }
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Sector</mat-label>
        <input matInput formControlName="sector" />
        <mat-error>
          @if (form.get('sector')?.hasError('required')) { Ingrese el sector }
          @else if (form.get('sector')?.hasError('minlength')) { Mínimo 2 caracteres }
          @else if (form.get('sector')?.hasError('maxlength')) { Máximo 100 caracteres }
        </mat-error>
      </mat-form-field><br/>
      <div><button matButton="elevated">Actualizar</button></div>
    </form>
  </div>
</div>
