<div class="container" style="text-align: center;">
    <h2 style="margin: 3%;">Detection List</h2>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.idDeteccionPublicitaria}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> Course </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Credits </th>
    <td mat-cell *matCellDef="let element"> {{element.minutoAparicion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Duration Hours </th>
    <td mat-cell *matCellDef="let element"> {{element.tiempoAparicionSeg}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.transmision}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['/detecciones-publicitarias/editar', 
          element.idDeteccionPublicitaria]"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idDeteccionPublicitaria)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    </div>
</div>