<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Registrar Canal Monitoreado</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field>
        <mat-label>Canal</mat-label>
        <mat-select formControlName="canal">
          @for (item of listaCanales; track item.idCanal) {
            <mat-option [value]="item.idCanal">{{ item.urlCanal }}</mat-option>
          }
        </mat-select>
        <mat-error>@if (form.get('canal')?.hasError('required')) { Seleccione un canal }</mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Empresa (opcional)</mat-label>
        <mat-select formControlName="empresa">
          @for (item of listaEmpresas; track item.idEmpresa) {
            <mat-option [value]="item.idEmpresa">{{ item.nombreComercial }}</mat-option>
          }
        </mat-select>
      </mat-form-field><br/>
      <div><button matButton="elevated">Registrar</button></div>
    </form>
  </div>
</div>
